.nav {
    grid-area: n;
    background-color: #9df9ef;
    padding: 20px;
}
.item a {
    color: #283618;
    text-decoration: none;
    font-weight: lighter;
}
.item a.active {
    font-weight: normal;
}